<div class="hero">
  <div class="hero__bg">
    <img src="images/src/hero/hero-bg.jpg" alt="" draggable="false">
  </div>
  <div class="container">
    <div class="hero__wrapper">
      
      <div class="hero__content">

        <div class="hero__badge badge">
          <span class="badge__text">We are dahibondad</span>
          <span class="badge__line"></span>
        </div>

        <h1 class="hero__heading">
          We energize the lives of <br><span class="emp">170 million people every day</span>
        </h1>

        <p class="hero__text">
          We’re working actively to reduce climate emissions, put a price on carbon, and benefits societis around the
          world.
        </p>

        <button class="hero__cta button button--primary" type="button">Get to know us</button>
      </div>

      <div class="hero__advantages">
				<!--#include virtual="/components/blocks/advantages/advantages.html" -->
      </div>
      <div class="hero__about-us">
				<!--#include virtual="/components/blocks/about-us/about-us.html" -->
      </div>
    </div>
  </div>
</div>