.hero {
}

.hero__bg {
}

.hero__bg img {
  display: flex;
  width: 100%;
}

.hero__wrapper {
}

.hero__content {
  position: absolute;
  top: 30%;
  max-width: 820px;
}

.hero__badge {
}

.hero__heading {
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: -0.09em;
  color: var(--text-primary);
}

.hero__text {
  font-size: 18px;
  line-height: 25px;
  color: var(--text-secondary);
}

.hero__cta {
}
