<div class="our-features">
  <div class="container">
    <div class="our-features__why-us why-us">
      <div class="why-us__wrapper">
        <div class="why-us__left">
          <div class="why-us__badge badge badge--primary">
            <span class="badge__text">our features</span>
            <span class="badge__line"></span>
          </div>

          <h3 class="why-us__heading">
            Why choose us
          </h3>

          <ul class="why-us__list why-list">
            <li class="why-list__item">
              <div class="why-list__image">
                <img src="images/compressed/our-features/why-us1.svg"
                  alt="By 2020 we expect up to 25% of research funds to be devoted to new energy solutions energy efficiency">
              </div>

              <p class="why-list__text">
                By 2020 we expect up to 25% of research funds to be devoted to new energy solutions energy efficiency
              </p>
            </li>
            <li class="why-list__item">
              <div class="why-list__image">
                <img src="images/compressed/our-features/why-us2.svg"
                  alt="Aiming to achieve annual CO2 emission reductions of 3 million tonnes by 2030 compared to 2017.">
              </div>

              <p class="why-list__text">
                Aiming to achieve annual CO2 emission reductions of 3 million tonnes by 2030 compared to 2017.

              </p>
            </li>
            <li class="why-list__item">
              <div class="why-list__image">
                <img src="images/compressed/our-features/why-us3.svg"
                  alt="By 2030 new energy has the potential to constitute around 15-20% of investments/annual capex">
              </div>

              <p class="why-list__text">
                By 2030 new energy has the potential to constitute around 15-20% of investments/annual capex
              </p>
            </li>
          </ul>
        </div>
        <!-- todo: add tabs -->
        <div class="why-us__right">
          <div class="why-us__tabs why-tabs">
            <div class="why-tabs__switchers">
              <button class="why-tabs__button button button--secondary active" type="button">our strategy</button>
              <button class="why-tabs__button button button--secondary" type="button">our vision</button>
              <button class="why-tabs__button button button--secondary" type="button">our mission</button>
            </div>
            <ul class="why-tabs__list">
              <li class="why-tabs__item">
                <h4 class="why-tabs__heading">
                  Our strategy to create a low carbon advantage
                </h4>
                <p class="why-tabs__text">
                  Natural gas is an effective source of energy that can help limit CO2 emissions
                  that cause global warming. Burning natural gas for power generation produces only around half the CO2
                  emissions compared to coal. Natural gas is mainly composed of methane, a potent greenhouse gas. Any
                  leakages in the gas value chain will reduce the relative climate benefits of natural gas.
                </p>
                <p class="why-tabs__text">
                  Textron has carried out a study examining methane leaks of Norwegian natural gas delivered to
                  customers in the UK and Germany.The findings show that the associated methane emissions are below 0.3%
                  compared to 0.6% which is the average for all gas consumed in Europe.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>