<div class="blockqoute">
  <div class="blockqoute__img">
    <img src="images/compressed/exploration/customer.jpg" alt="customer">
  </div>
  <p class="blockqoute__text">
    I believe technology is essential for us to discover and develop more projects, and at the same time reduce cost
    and lower carbon emissions
  </p>
  <div class="blockqoute__badge badge badge--primary">
    <span class="badge__line"></span>
    <span class="badge__text">President and Chief Executive Officer</span>
  </div>
</div>