<div class="navigation">
  <div class="navigation__wrapper">
    <div class="navigation__logo">
      <!--#include virtual="/components/blocks/logo/logo.html" -->
    </div>

    <nav class="navigation__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Services</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Projects</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">About us</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Contact us</a>
        </li>
      </ul>
    </nav>

    <div class="navigation__search">
      <!--#include virtual="/components/blocks/search/search.html" -->
    </div>
  </div>
</div>