<div class="exploration">
  <div class="exploration__bg">
    <img src="images/compressed/exploration/bg.jpg" alt="Meeting future demand for energy" draggable="false">
  </div>
  <div class="container">
    <div class="exploration__content paper">
      <div class="exploration__badge badge badge--primary">
        <span class="badge__text">EXPLORATION</span>
        <span class="badge__line"></span>
      </div>
      <h3 class="exploration__heading">Meeting future demand for energy</h3>
      <p class="exploration__text">Technology and innovation are enablers for our strategy. We are an energy company
        committed to long term value creation in a low carbon future.</p>

      <button class="exploration__more button button--primary">
        Explore more
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.198412 13.8016C-0.0420873 13.5611 -0.0639508 13.1847 0.132821 12.9196L0.198412 12.8436L6.04168 7L0.198412 1.15643C-0.0420873 0.915928 -0.0639508 0.539587 0.132821 0.274389L0.198412 0.198412C0.43891 -0.0420866 0.815252 -0.0639505 1.08045 0.132821L1.15643 0.198412L7.47901 6.52099C7.71951 6.76149 7.74137 7.13783 7.5446 7.40303L7.47901 7.47901L1.15643 13.8016C0.891878 14.0661 0.46296 14.0661 0.198412 13.8016Z"
            fill="#B5038D" />
        </svg>
      </button>
    </div>

    <div class="exploration__blockqoute blockqoute">
      <div class="blockqoute__wrapper">
        <div class="blockqoute__img">
          <img src="images/compressed/exploration/customer.jpg" alt="customer">
        </div>

        <div class="blockqoute__content">
          <p class="blockqoute__text">
            I believe technology is essential for us to discover and develop more projects, and at the same time reduce
            cost
            and lower carbon emissions
          </p>

          <div class="blockqoute__badge badge badge--primary">
            <span class="badge__line"></span>
            <span class="badge__text">President and Chief Executive Officer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>