<div class="projects">
  <div class="container">
    <div class="projects__wrapper">

      <div class="projects__badge badge badge--primary">
        <span class="badge__text">Projects</span>
        <span class="badge__line"></span>
      </div>

      <div class="projects__header">
        <h3 class="projects__heading">Discover our <span class="emp">latest projects</span></h3>

        <div class="projects__tabs-controller tabs-controller">
          <ul class="tabs-controller__list">
            <li class="tabs-controller__item active">
              <button class="tabs-controller__button button" type="button">show all</button>
            </li>
            <li class="tabs-controller__item ">
              <button class="tabs-controller__button button" type="button">biology</button>
            </li>
            <li class="tabs-controller__item ">
              <button class="tabs-controller__button button" type="button">commercial</button>
            </li>
            <li class="tabs-controller__item ">
              <button class="tabs-controller__button button" type="button">industrial</button>
            </li>
            <li class="tabs-controller__item ">
              <button class="tabs-controller__button button" type="button">science</button>
            </li>
            <li class="tabs-controller__item ">
              <button class="tabs-controller__button button" type="button">technology</button>
            </li>
          </ul>
        </div>
      </div>

      <div class="projects__tabs-content tabs-content">
        <ul class="tabs-content__list">
          <li class="tabs-content__item">
            <div class="tab-item">
              <div class="tab-item__img">
                <img class="paper paper--tertiary" src="images/compressed/projects/1.jpg" alt="Feugiat nulla">
              </div>

              <h5 class="tab-item__heading">Feugiat nulla</h5>

              <div class="tab-item__badge badge badge--primary">
                <span class="badge__text">technology</span>
                <span class="badge__line"></span>
              </div>
            </div>
          </li>
          <li class="tabs-content__item">
            <div class="tab-item">
              <div class="tab-item__img">
                <img class="paper paper--tertiary" src="images/compressed/projects/2.jpg" alt="Esse molestie">
              </div>

              <h5 class="tab-item__heading">Esse molestie</h5>

              <div class="tab-item__badge badge badge--primary">
                <span class="badge__text">technology</span>
                <span class="badge__line"></span>
              </div>
            </div>
          </li>
          <li class="tabs-content__item">
            <div class="tab-item">
              <div class="tab-item__img">
                <img class="paper paper--tertiary" src="images/compressed/projects/3.jpg" alt="Consequat duis">
              </div>

              <h5 class="tab-item__heading">Consequat duis</h5>

              <div class="tab-item__badge badge badge--primary">
                <span class="badge__text">technology</span>
                <span class="badge__line"></span>
              </div>
            </div>
          </li>
          <li class="tabs-content__item">
            <div class="tab-item">
              <div class="tab-item__img">
                <img class="paper paper--tertiary" src="images/compressed/projects/4.jpg" alt="Nostrud exerci">
              </div>

              <h5 class="tab-item__heading">Nostrud exerci</h5>

              <div class="tab-item__badge badge badge--primary">
                <span class="badge__text">technology</span>
                <span class="badge__line"></span>
              </div>
            </div>
          </li>
          <li class="tabs-content__item">
            <div class="tab-item">
              <div class="tab-item__img">
                <img class="paper paper--tertiary" src="images/compressed/projects/5.jpg" alt="Nonummy nibh">
              </div>

              <h5 class="tab-item__heading">Nonummy nibh</h5>

              <div class="tab-item__badge badge badge--primary">
                <span class="badge__text">technology</span>
                <span class="badge__line"></span>
              </div>
            </div>
          </li>
          <li class="tabs-content__item">
            <div class="tab-item">
              <div class="tab-item__img">
                <img class="paper paper--tertiary" src="images/compressed/projects/6.jpg" alt="Skeptic cambridge">
              </div>

              <h5 class="tab-item__heading">Skeptic cambridge</h5>

              <div class="tab-item__badge badge badge--primary">
                <span class="badge__text">technology</span>
                <span class="badge__line"></span>
              </div>
            </div>
          </li>
        </ul>

        <button class="tabs-content__more button button--primary">
          Show more
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.198412 13.8016C-0.0420873 13.5611 -0.0639508 13.1847 0.132821 12.9196L0.198412 12.8436L6.04168 7L0.198412 1.15643C-0.0420873 0.915928 -0.0639508 0.539587 0.132821 0.274389L0.198412 0.198412C0.43891 -0.0420866 0.815252 -0.0639505 1.08045 0.132821L1.15643 0.198412L7.47901 6.52099C7.71951 6.76149 7.74137 7.13783 7.5446 7.40303L7.47901 7.47901L1.15643 13.8016C0.891878 14.0661 0.46296 14.0661 0.198412 13.8016Z"
              fill="#B5038D"></path>
          </svg>
        </button>
      </div>


    </div>
  </div>
</div>