<div class="statistic">
  <div class="statistic__wrapper">
    <div class="statistic__left">
      <div class="statistic__left-bg">
        <img src="images/compressed/statistic/bg1.jpg" alt="">
      </div>
    </div>

    <div class="statistic__right">
      <div class="statistic__right-bg">
        <img src="images/compressed/statistic/bg2.jpg" alt="">
      </div>

      <div class="statistic__content">
        <div class="statistic__badge badge badge--secondary">
          <span class="badge__text">statistics</span>
          <span class="badge__line"></span>
        </div>

        <h3 class="statistic__heading">
          Annual results
        </h3>

        <div class="statistic__advantages advantages-statistic">
          <ul class="advantages-statistic__list">
            <li class="advantages-statistic__item">
              <h4 class="advantages-statistic__title">
                211mmboe
              </h4>
              <h5 class="advantages-statistic__subtitle">
                oil and gas production
              </h5>
            </li>
            <li class="advantages-statistic__item">
              <h4 class="advantages-statistic__title">
                213%
              </h4>
              <h5 class="advantages-statistic__subtitle">
                reserve replacement ratio
              </h5>
            </li>
            <li class="advantages-statistic__item">
              <h4 class="advantages-statistic__title">
                615mmboe
              </h4>
              <h5 class="advantages-statistic__subtitle">
                proved oil and gas reserves
              </h5>
            </li>
            <li class="advantages-statistic__item">
              <h4 class="advantages-statistic__title">
                650K
              </h4>
              <h5 class="advantages-statistic__subtitle">
                homes with renewable power
              </h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>