.badge {
  display: flex;
  align-items: center;
  gap: 25px;
}

.badge__text {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
}

.badge__line {
  display: block;
  width: 70px;
  height: 1px;
}

.badge--primary {
  .badge__text {
    color: var(--emphases-primary);
  }

  .badge__line {
    background: var(--emphases-primary);
  }
}

.badge--secondary {
  .badge__text {
    color: var(--white);
  }

  .badge__line {
    background: var(--white);
  }
}
