.careers {
  padding-top: 60px;
  background: var(--bg-secondary);
}

.careers__top {
  display: flex;
  justify-content: space-between;
}

.careers__img {
  margin-left: -40px;
  position: relative;
  width: 100%;
  max-width: 330px;
  overflow: hidden;
  padding-bottom: 30%;
}

.careers__img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: contain;
}

.careers__content {
  max-width: 730px;
}

.careers__badge {
  margin-bottom: 36px;
}

.careers__heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: -0.055em;
  color: var(--heading-primary);
}

.careers__text {
  font-size: 18px;
  line-height: 24px;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.careers__cta {
  margin-bottom: 50px;
}

.careers__bottom {
  padding: 60px 0;
  background: var(--white);
}

.careers__opportunities {
}

.opportunities {
  display: flex;
  justify-content: space-between;
}

.opportunities__job-offer {
  position: relative;
  max-width: 500px;
}

.opportunities__img {
  position: relative;
}

.opportunities__img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    126.89% 216.29% at 93.21% 122.21%,
    #698b97 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.opportunities__img img {
  display: flex;
  width: 100%;
}

.opportunities__content {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.opportunities__title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: var(--white);
  margin-bottom: 10px;
}

.opportunities__more {
}
