<div class="careers">
  <div class="container">
    <div class="careers__wrapper">
      <div class="careers__img">
        <img src="images/compressed/careers/img.png" alt="If you want to make a difference,
        you should be working for Textron.">
      </div>


      <div class="careers__content">
        <div class="careers__badge badge badge--primary">
          <span class="badge__text">Careers</span>
          <span class="badge__line"></span>
        </div>

        <h3 class="careers__heading">
          If you want to make a difference, you should be working for Textron.
        </h3>
        <p class="careers__text">
          We’re taking on tomorrow’s energy challenges, today. At Textron, we continue to push
          the boundaries of technology, innovation and imagination to create positive change for our business and our
          planet. It’s not an easy job, but we believe that with the right people, passion and curiosity, it is
          possible. 
        </p>

        <p class="careers__text"><b>We’re up for the challenge. Are you?</b></p>

        <button class="careers__cta button button--secondary" type="button">Explore our job opportunities</button>
      </div>


    </div>
  </div>
</div>