<div class="careers">
  <div class="container">
    <div class="careers__top">
      <div class="careers__img">
        <img src="images/compressed/careers/img.png" alt="If you want to make a difference,
        you should be working for Textron.">
      </div>


      <div class="careers__content">
        <div class="careers__badge badge badge--primary">
          <span class="badge__text">Careers</span>
          <span class="badge__line"></span>
        </div>

        <h3 class="careers__heading">
          If you want to make a difference, you should be working for Textron.
        </h3>
        <p class="careers__text">
          We’re taking on tomorrow’s energy challenges, today. At Textron, we continue to push
          the boundaries of technology, innovation and imagination to create positive change for our business and our
          planet. It’s not an easy job, but we believe that with the right people, passion and curiosity, it is
          possible.
        </p>

        <p class="careers__text"><b>We’re up for the challenge. Are you?</b></p>

        <button class="careers__cta button button--secondary" type="button">Explore our job opportunities</button>
      </div>


    </div>
  </div>

  <div class="careers__bottom">
    <div class="container">
      <div class="careers__opportunities opportunities">
        <article class="opportunities__job-offer paper paper--secondary">
  
          <div class="opportunities__img">
            <img src="images/compressed/careers/student.jpg" alt="I am a student">
          </div>
  
          <div class="opportunities__content">
            <h4 class="opportunities__title">
              I am a student
            </h4>
  
            <button class="opportunities__more button button--primary">
              Find out more
              <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.198412 13.8016C-0.0420873 13.5611 -0.0639508 13.1847 0.132821 12.9196L0.198412 12.8436L6.04168 7L0.198412 1.15643C-0.0420873 0.915928 -0.0639508 0.539587 0.132821 0.274389L0.198412 0.198412C0.43891 -0.0420866 0.815252 -0.0639505 1.08045 0.132821L1.15643 0.198412L7.47901 6.52099C7.71951 6.76149 7.74137 7.13783 7.5446 7.40303L7.47901 7.47901L1.15643 13.8016C0.891878 14.0661 0.46296 14.0661 0.198412 13.8016Z"
                  fill="#B5038D"></path>
              </svg>
            </button>
          </div>
        </article>
  
        <article class="opportunities__job-offer paper paper--secondary">
  
          <div class="opportunities__img">
            <img src="images/compressed/careers/professional.jpg" alt="I am a professional">
          </div>
  
          <div class="opportunities__content">
            <h4 class="opportunities__title">
              I am a professional
            </h4>
  
            <button class="opportunities__more button button--primary">
              Find out more
              <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.198412 13.8016C-0.0420873 13.5611 -0.0639508 13.1847 0.132821 12.9196L0.198412 12.8436L6.04168 7L0.198412 1.15643C-0.0420873 0.915928 -0.0639508 0.539587 0.132821 0.274389L0.198412 0.198412C0.43891 -0.0420866 0.815252 -0.0639505 1.08045 0.132821L1.15643 0.198412L7.47901 6.52099C7.71951 6.76149 7.74137 7.13783 7.5446 7.40303L7.47901 7.47901L1.15643 13.8016C0.891878 14.0661 0.46296 14.0661 0.198412 13.8016Z"
                  fill="#B5038D"></path>
              </svg>
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>