<div class="customers">
  <div class="container">
    <div class="customers__wrapper">
      <div class="customers__left">
        <div class="customers__badge badge badge--primary">
          <span class="badge__text">customers</span>
          <span class="badge__line"></span>
        </div>

        <h3 class="customers__heading">
          Feedback and clients:
        </h3>

        <div class="customers__blockqoute blockqoute">
          <div class="blockqoute__wrapper">
            <div class="blockqoute__img">
              <img src="images/compressed/customers/customer.jpg" alt="customer">
            </div>
        
            <div class="blockqoute__content">
              <p class="blockqoute__text">
                I believe technology is essential for us to discover and develop more projects, and at the same time reduce
                cost
                and lower carbon emissions
              </p>
        
              <div class="blockqoute__badge badge badge--primary">
                <span class="badge__line"></span>
                <span class="badge__text">President and Chief Executive Officer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="customers__right">
        <div class="customers__our-clients our-clients">
          <ul class="our-clients__list">
            <li class="our-clients__item">
              <div class="our-clients__image">
                <img src="images/compressed/customers/logo1.svg" alt="Biogest">
              </div>
            </li>
            <li class="our-clients__item">
              <div class="our-clients__image">
                <img src="images/compressed/customers/logo2.svg" alt="Spriano">
              </div>
            </li>
            <li class="our-clients__item">
              <div class="our-clients__image">
                <img src="images/compressed/customers/logo3.svg" alt="Mec-Rela">
              </div>
            </li>
            <li class="our-clients__item">
              <div class="our-clients__image">
                <img src="images/compressed/customers/logo4.svg" alt="Neuros">
              </div>
            </li>
            <li class="our-clients__item">
              <div class="our-clients__image">
                <img src="images/compressed/customers/logo5.svg" alt="Mitshubishi">
              </div>
            </li>
            <li class="our-clients__item">
              <div class="our-clients__image">
                <img src="images/compressed/customers/logo6.svg" alt="Pieralisi">
              </div>
            </li>
            <li class="our-clients__item">
              <div class="our-clients__image">
                <img src="images/compressed/customers/logo7.svg" alt="Fogtec">
              </div>
            </li>
            <li class="our-clients__item">
              <div class="our-clients__image">
                <img src="images/compressed/customers/logo8.svg" alt="Witt&Sohn">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>