<div class="about-us">
  <div class="about-us__wrapper">
    <div class="about-us__img">
      <img src="images/compressed/about-us/bg.jpg" alt="Our products are
      essential to society">
    </div>

    <div class="about-us__content">
      <div class="about-us__badge badge">
        <span class="badge__text">We are dahibondad</span>
        <span class="badge__line"></span>
      </div>
      <h3 class="about-us__heading">Our products are essential to society</h3>
      <p class="about-us__text">
        Since 1972 we have been pushing the boundaries of imagination and technology, solving challenges in the oil and
        gas industry. That quest has taken us to greater depths, deeper waters and new frontiers.
      </p>
      <button class="about-us__more button button--primary">
        Learn more
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.198412 13.8016C-0.0420873 13.5611 -0.0639508 13.1847 0.132821 12.9196L0.198412 12.8436L6.04168 7L0.198412 1.15643C-0.0420873 0.915928 -0.0639508 0.539587 0.132821 0.274389L0.198412 0.198412C0.43891 -0.0420866 0.815252 -0.0639505 1.08045 0.132821L1.15643 0.198412L7.47901 6.52099C7.71951 6.76149 7.74137 7.13783 7.5446 7.40303L7.47901 7.47901L1.15643 13.8016C0.891878 14.0661 0.46296 14.0661 0.198412 13.8016Z" fill="#B5038D"/>
            </svg>
      </button>
    </div>
  </div>
</div>